@font-face {
  font-family: "AvertaDemoPE-Regular";
  src: url("./fonts/AvertaDemoPE-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/AvertaDemoPE-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/AvertaDemoPE-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/AvertaDemoPE-Regular.woff")
      format("woff"); /* Legacy iOS */
}

body {
  display: flex;
  justify-content: center;
  font-family: "AvertaDemoPE-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
